body{
  text-align: center;
  font-family: helvetica
}
.h1-1{
  font-size: 70px;
  font-weight: bold;
  color:white;

}
.p1{
  font-size:18px;
  color:white;

}
.bg{
background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.ny{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  font-size:23px;
  font-weight: bold;
  color:white;
}
.sub{
  font-size: 32px;
  font-weight: bold;
}
 .sub3{
   font-size:23px;
   font-weight: bold;
 }
.p2{
  font-size: 14px
}

}
